In [1]:
import pandas as pd

In [18]:
df_movies = pd.read_csv("data/imdb_1000_clean.csv", index_col="Rank")

In [19]:
df_movies_one = df_movies.copy()

In [20]:
df_movies_one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             936 non-null    object
 1   genre             936 non-null    object
 2   description       936 non-null    object
 3   director          936 non-null    object
 4   actors            936 non-null    object
 5   year              936 non-null    int64
 6   runtime_minutes   936 non-null    int64
 7   rating            936 non-null    float64
 8   votes             936 non-null    int64
 9   revenue_millions  936 non-null    float64
 10  metascore         936 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 87.8+ KB

In [21]:
df_movies_one.describe()

,year,runtime_minutes,rating,votes,revenue_millions,metascore
count,936.000000,936.000000,936.000000,9.360000e+02,936.00000,936.000000
mean,2012.771368,113.272436,6.729167,1.752702e+05,84.39618,58.985043
std,3.178987,18.550798,0.935225,1.905824e+05,98.89234,17.194757
min,2006.000000,66.000000,1.900000,6.100000e+01,0.00000,11.000000
25%,2010.000000,100.000000,6.200000,4.159300e+04,17.44250,47.000000
50%,2014.000000,111.000000,6.800000,1.149185e+05,58.70000,59.500000
75%,2016.000000,123.000000,7.400000,2.495380e+05,102.42250,72.000000
max,2016.000000,187.000000,9.000000,1.791916e+06,936.63000,100.000000

#### Mean, Mediun, Mode
#### Standard Deviation and Variance
#### Skewness
#### What's Normal distribution?
     *Kurtosis

### Different Charts
* Line graph - Data collected over time, Time Series, Trend of data.
* Pie chart - Categorical data .g less than 10 categories. Display count/sum %.
* Bar graph - Many Categories/Time Series/...
* Scatter plot - Distribution of data points/ Trend.
* Boxplot - Outliers/Max/min/... Distibution, Trend.

In [24]:
gn = df_movies_one["genre"]

In [23]:
gn.value_counts().head()

Action,Adventure,Sci-Fi    50
Drama                      43
Comedy,Drama,Romance       32
Comedy                     30
Drama,Romance              28
Name: genre, dtype: int64